{% extends 'default' %}

{% block content_wrapper %}

<header class="banner">
    <div class="hero-section">
        <div class="hero-section-text">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</header>

<div class="three columns">
    <div class="panel with-margin-top">
        <ul class="nav-bar vertical">
            {% for parentItem in page.menu %}
                {% if parentItem.menu_title == page.group or parentItem.menu_title == page.menu_title %}
                    {% for item in parentItem.children %}
                        <li {% if page.menu_title == item.menu_title or page.subgroup == item.menu_title %} class="active" {% endif %}><a href="{{item.url|trim('/')}}">{{ item.menu_title }}</a>
                            {% if page.menu_title == item.menu_title or page.subgroup == item.menu_title %}
                            <ul>
                                {% for subitem in item.children %}
                                    <li {% if page.menu_title == subitem.menu_title %} class="active" {% endif %}><a href="{{subitem.url|trim('/')}}">{{ subitem.menu_title}}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="nine columns">
    <nav role="navigation">
        <ul class="breadcrumbs">
            <li><a href="index.html">Accueil</a></li>
            {% for title, breadcrumbs in page.breadcrumb %}
                {% if page.menu_title == title %}
                    {% for item in breadcrumbs %}
                        <li><a href="{{ item.url|trim('/') }}">{{ item.menu_title }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <li><span>{{ page.menu_title }}</span></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</div>

{% endblock %}
